span.cls_002{font-family:"DejaVu Sans Condensed",serif;font-size:30.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:"DejaVu Sans Condensed",serif;font-size:30.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:"DejaVu Sans Condensed",serif;font-size:16.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:"DejaVu Sans Condensed",serif;font-size:16.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:"Liberation Sans Narrow",serif;font-size:18.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:"Liberation Sans Narrow",serif;font-size:18.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:"DejaVu Sans Condensed",serif;font-size:14.2px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:"DejaVu Sans Condensed",serif;font-size:14.2px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:"DejaVu Sans Condensed",serif;font-size:9.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:"DejaVu Sans Condensed",serif;font-size:9.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}

.a{
    position:relative;left:50%;margin-left:-420px;top:0px;width:841px;height:595px;border-style:outset;overflow:hidden
}

.b{
    position:absolute;left:0px;top:0px
}

#c{
    position:absolute;left:106.20px;top:102.10px
}

#d{
    position:absolute;left:210.50px;top:205.40px
}

#e{
    position:absolute;left:204.10px;top:263.40px
}

#f{
    position:absolute;left:225.00px;top:319.00px
}

#g{
    position:absolute;left:209.80px;top:378.80px
}

#h{
    position:absolute;left:286.60px;top:418.70px
}

#i{
    position:absolute;left:493.80px;top:419.30px
}

#j{
    position:absolute;left:312.00px;top:449.80px
}

#k{
    position:absolute;left:542.00px;top:449.80px
}

#l{
    position:absolute;left:566.80px;top:506.50px
}